<section class="p-16 text-center flex flex-col justify-center">
    <h1 class="text-3xl font-bold">
        Các công cụ dev thường dùng
    </h1>
    <div class="p-4 flex justify-center gap-6">
        <a class="px-6 py-3 bg-indigo-500 text-white" href="{{ @BASE }}/php-unserializer">PHP Unserializer</a>
        <a class="px-6 py-3 bg-indigo-500 text-white" href="{{ @BASE }}/case-converter">Case converter</a>
        <a class="px-6 py-3 bg-indigo-500 text-white" href="{{ @BASE }}/swap-json-key-value">Swap JSON key value</a>
        <a class="px-6 py-3 bg-indigo-500 text-white" href="{{ @BASE }}/map-json-objects">Map JSON Objects</a>
    </div>
</section>